openapi: 3.1.0
info:
  title: Volcano Engine Ark API (Doubao) Batch Images API
  description: Volcano Engine Ark serves ByteDance's Doubao foundation models with an OpenAI-compatible API surface. Provides chat completions, embeddings, image generation (Seedream), video generation (Seedance), and batch operations. Endpoints derived from public Volcano Engine documentation at https://www.volcengine.com/docs/82379 — best-effort, not exhaustive. Authenticates with a Bearer API key minted in the Ark console.
  version: '3'
  contact:
    name: Volcano Engine
    url: https://www.volcengine.com
  license:
    name: Proprietary
servers:
- url: https://ark.cn-beijing.volces.com/api/v3
  description: Volcano Engine Ark - Beijing region
security:
- BearerAuth: []
tags:
- name: Images
paths:
  /images/generations:
    post:
      tags:
      - Images
      summary: Generate images (Seedream)
      operationId: createImage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - model
              - prompt
              properties:
                model:
                  type: string
                prompt:
                  type: string
                response_format:
                  type: string
                  enum:
                  - url
                  - b64_json
                size:
                  type: string
                n:
                  type: integer
                  default: 1
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Ark API Key
